@model DesafioMVC.DTO.EventoDTO
@{
    Layout = "_Layout";
}

<h4>Cadastrar evento</h4>
<hr>
<form class="form-horizontal" enctype="multipart/form-data" asp-controller="Eventos" asp-action="Salvar" method="POST">
    <input type="hidden" asp-for="Id" value="0">
    <label asp-for="Nome">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Ex: Show do Fulano">
    <span asp-validation-for="Nome"></span>
    <br>
    <label asp-for="Capacidade">Capacidade</label>
    <input type="number" asp-for="Capacidade" class="form-control" min="1" max="2147483647" placeholder="Ex: 999">
    <span asp-validation-for="Capacidade"></span>
    <br>
    <label asp-for="Data">Data e hora</label>
    <input type="datetime-local" asp-for="Data" class="form-control" min="@ViewBag.DataAtual">
    <span asp-validation-for="Data"></span>
    <br>
    <label asp-for="ValorIngressoString">Valor do ingresso</label>
    <input type="text" asp-for="ValorIngressoString" class="form-control" placeholder="R$99,9">
    <span asp-validation-for="ValorIngressoString"></span>
    <br>
    <label asp-for="EstabelecimentoId">Estabelecimento</label>
    <select class="form-control" asp-for="EstabelecimentoId" asp-items='@(new SelectList(@ViewBag.Estabelecimentos,"Id","Nome"))'></select>
    <br>
    <label asp-for="GeneroId">Gênero musical</label>
    <select class="form-control" asp-for="GeneroId" asp-items='@(new SelectList(@ViewBag.Generos,"Id","Nome"))'></select>
    <br>
    <label asp-for="ImagemUrl">Inserir imagem</label>
    <input type ="file" asp-for="ImagemUrl" class="form-control">
    <span asp-validation-for="ImagemUrl"></span>
    <br>
    <button class="btn btn-success">Cadastrar</button>
</form>