@model DesafioMVC.DTO.EventoDTO
@{
    Layout = "_Layout";
}

<div class="container text-center" style="margin-top: 1rem;">
    <h4>ATUALIZAÇÃO DE EVENTOS</h4>
    <hr>
</div>

<form class="form-horizontal" enctype="multipart/form-data" asp-controller="Eventos" asp-action="Atualizar" method="POST">
    @if (@ViewBag.Mensagem != null)
    {
        <div class="alert alert-danger text-center" role="alert">
            @ViewBag.Mensagem
        </div>
    }
    <input type="hidden" asp-for="Id">
    <input type="hidden" asp-for="QuantidadeIngressos">
    <label asp-for="Nome">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Ex: Show do Fulano">
    <span asp-validation-for="Nome"></span>
    <br>
    <label asp-for="Capacidade">Capacidade</label>
    <input type="number" asp-for="Capacidade" class="form-control" min="1" max="2147483647" placeholder="Ex: 999">
    <span asp-validation-for="Capacidade"></span>
    <br>
    <label asp-for="Data">Data e hora</label>
    <input type="datetime-local" asp-for="Data" class="form-control" min="@ViewBag.DataAtual">
    <span asp-validation-for="Data"></span>
    <br>
    <label asp-for="ValorIngressoString">Valor do ingresso</label>
    <input type="text" asp-for="ValorIngressoString" class="form-control" placeholder="R$99,9">
    <span asp-validation-for="ValorIngressoString"></span>
    <br>
    <label asp-for="EstabelecimentoId">Estabelecimento</label>
    <select class="form-control" asp-for="EstabelecimentoId" asp-items='@(new SelectList(@ViewBag.Estabelecimentos, "Id", "Nome"))'></select>
    <br>
    <label asp-for="GeneroId">Gênero musical</label>
    <select class="form-control" asp-for="GeneroId" asp-items='@(new SelectList(@ViewBag.Generos,"Id","Nome"))'></select>
    <br>
    <label asp-for="ImagemUrl">Atualizar imagem</label>
    <input type ="file" asp-for="ImagemUrl" class="form-control">
    <span asp-validation-for="ImagemUrl"></span>
    <input type="hidden" asp-for="ImagemUrlString">
    <br>
    <button class="btn btn-success">Atualizar</button>
</form>

