@model IEnumerable<DesafioMVC.Models.Estabelecimento>
@{
    Layout = "_Layout";
}

<script>
    $(document).ready( function () {
    $('#estabelecimentos').DataTable({
        "info": false,
        "language": {"search": "Buscar:",
                     "lengthMenu": "Mostrando _MENU_ registros por página",
                     "zeroRecords": "Nada encontrado.", 
                     "paginate": {
                        "first":      "Primeiro",
                        "last":       "Último",
                        "next":       "Próximo",
                        "previous":   "Anterior"
                        }
                    }
        });
    });
</script>

<h4>Estabelecimentos</h4>
<hr>
<a class="btn btn-dark" asp-controller="Admin" asp-action="CadastrarEstabelecimento">Cadastrar</a>

<table id="estabelecimentos" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var estabelecimentos in Model)
        {
            <tr>
                <td>@estabelecimentos.Id</td>
                <td>@estabelecimentos.Nome</td>
                <td>@estabelecimentos.Endereco</td>
                <td>@estabelecimentos.Email</td>
                <td>@estabelecimentos.Telefone</td>
                <td>
                    <a class="btn btn-primary" href="/Admin/EditarEstabelecimento/@estabelecimentos.Id">Editar</a>
                    <form asp-controller="Estabelecimentos" asp-action="Deletar" method= "POST" style="display: inline;">
                        <input type="hidden" name="id" id="id" value="@estabelecimentos.Id">
                        <button class="btn btn-danger">Deletar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>