@model IEnumerable<DesafioMVC.Models.Evento>
@{
    Layout = "_Layout";
    int IngressosVendidos = 0;
}

<script>
    $(document).ready( function () {
    $('#eventos').DataTable({
        "info": false,
        "language": {"search": "Buscar:",
                     "lengthMenu": "Exibindo _MENU_",
                     "zeroRecords": "Nada encontrado.", 
                     "paginate": {
                        "first":      "Primeiro",
                        "last":       "Último",
                        "next":       "Próximo",
                        "previous":   "Anterior"
                        }
                    }
        });
    });
</script>

@if (@ViewBag.VerificaEstabelecimentos > 0)
{
    @if (@ViewBag.VerificaGeneros > 0)
    {
        <div class="container my-3 p-0" style="height: 10vh; display: flex; justify-content: center; align-items: center">
            <div class="w-100 h-100 bg-dark text-white rounded-left" style="flex: 3;">
                <h1 class="m-0" style="position: relative; top: 50%; text-align: center; transform: translate(0, -50%);">Eventos</h1>
            </div>
            <a class="w-100 h-100 bg-success text-white rounded-right" style="flex: 1; text-decoration: none" asp-controller="Admin" asp-action="CadastrarEvento">
                <h4 class="m-0" style="position: relative; top: 50%; text-align: center; transform: translate(0, -50%);">Cadastrar</h4>
            </a>
        </div>
        <hr>

        <table id="eventos" class="table table-dark table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Capacidade</th>
                    <th>Ingressos vendidos</th>
                    <th>Data e Hora</th>
                    <th>Valor do ingresso</th>
                    <th>Estabelecimento</th>
                    <th>Gênero musical</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var evento in Model)
                {
                    {IngressosVendidos = @evento.Capacidade - @evento.QuantidadeIngressos;}
                    <tr>
                        <td><img src="~/Assets/img/@evento.ImagemUrl" height="80" width="100"/></td>
                        <td>@evento.Id</td>
                        <td>@evento.Nome</td>
                        <td>@evento.Capacidade</td>
                        <td>@IngressosVendidos</td>
                        <td>@evento.Data.ToString().Substring(0,16)</td>
                        <td>@evento.ValorIngresso.ToString("c")</td>
                        <td>@evento.Estabelecimento.Nome</td>
                        <td>@evento.Genero.Nome</td>
                        @if (evento.Status)
                        {
                            <td class="px-1 py-3" style="display: flex; flex-direction: column; border-width: 0">
                                <a class="btn btn-primary w-100" href="/Admin/EditarEvento/@evento.Id">Editar</a>
                                <form asp-controller="Eventos" asp-action="Cancelar" method= "POST" style="display: inline;">
                                    <input type="hidden" name="id" id="id" value="@evento.Id">
                                    <button class="btn btn-danger w-100">Cancelar</button>
                                </form>
                            </td>
                        }
                        else
                        {
                            <td class="px-1 py-3" style="display: flex; flex-direction: column; border-width: 0">
                                <a class="btn btn-primary w-100" href="/Admin/EditarEvento/@evento.Id">Editar</a>
                                <form asp-controller="Eventos" asp-action="Restabelecer" method= "POST" style="display: inline;">
                                    <input type="hidden" name="id" id="id" value="@evento.Id">
                                    <button class="btn btn-warning w-100">Restabelecer</button>
                                </form>
                            </td>
                        }
                        
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {   
        <div class="container my-3 p-0" style="height: 10vh; display: flex; justify-content: center; align-items: center">
            <div class="w-100 h-100 bg-dark text-white rounded" style="flex: 3;">
                    <h1 class="m-0" style="position: relative; top: 50%; text-align: center; transform: translate(0, -50%);">Eventos</h1>
            </div>
        </div>
        <hr>
        <div class="alert alert-danger text-center" role="alert">
            Não existem gêneros musicais cadastrados.
        </div>
    }
}
else
{
    <div class="container my-3 p-0" style="height: 10vh; display: flex; justify-content: center; align-items: center">
        <div class="w-100 h-100 bg-dark text-white rounded" style="flex: 3;">
                <h1 class="m-0" style="position: relative; top: 50%; text-align: center; transform: translate(0, -50%);">Eventos</h1>
        </div>
    </div>
    <hr>
    <div class="alert alert-danger text-center" role="alert">
        Não existem estabelecimentos cadastrados.
    </div>
}
