@using System.Globalization
@model IEnumerable<DesafioMVC.Models.Evento>
@{
    Layout = "_Layout";
    bool vendendo = true;
}


<div class="container text-center" style="margin-top: 1rem;">
    <h4>EVENTOS</h4>
    <hr>
    @if (Model.Any())
    {
        @foreach (var evento in Model)
        {
            {vendendo = (evento.QuantidadeIngressos > 0);}
            <div class="row mb-3" style="height: 42.5vh;">
                <div class="col m-0 p-0" style="height: 100%;">
                    <img src="~/Assets/img/@evento.ImagemUrl" class="rounded-left" height="100%" width="100%" >
                </div>
                <div class="col p-0 rounded-right bg-dark text-white" style="height: 100%;">
                    <div style="display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-between; height: 100%;">
                        <div class="row" style="flex-wrap: nowrap; flex-direction: column; flex: 1;">
                            <h4 style="margin-top: 1rem;">@evento.Nome.ToUpper() - @evento.Data.ToString("g", CultureInfo.GetCultureInfo("pt-BR")).Substring(0,10)</h4>
                            <h4 style="margin-bottom: 1rem;">@evento.Estabelecimento.Nome</h4>
                        </div>    
                        <div class="row" style="flex: 1;">
                            <div class="col" style="text-align: end;">
                                <p>Valor do ingresso: </p>
                                <p>Horário: </p>
                                <p>Status: </p>
                            </div>
                            <div class="col" style="text-align: start;">
                                <p>@evento.ValorIngresso.ToString("c", CultureInfo.GetCultureInfo("pt-BR"))</p>
                                <p>@evento.Data.ToString("g", CultureInfo.GetCultureInfo("pt-BR")).Substring(10)</p>
                                @if (vendendo)
                                {
                                    @if (@evento.QuantidadeIngressos <= 100)
                                    {
                                        <p class="text-warning"><b>RESTAM POUCOS</b></p>
                                    }
                                    else
                                    {
                                        <p class="text-success"><b>VENDENDO</b></p>
                                    }
                                }
                                else
                                {
                                    <p class="text-danger"><b>ESGOTADO</b></p>
                                }
                            </div>
                        </div>
                        @if (vendendo)
                        {
                            <a class="bg-success text" id="vendas" style="outline: none; flex: 1; display: flex; align-items: center; justify-content: center; text-decoration: none" data-toggle="modal" data-target="#comprar-@evento.Id" href="#comprar-@evento.Id">
                                <div>
                                    <h1 class="mb-0 text-white">COMPRAR</h1>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
            <div class="modal" id="comprar-@evento.Id">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">@evento.Nome.ToUpper() - @evento.Data.ToString("g", CultureInfo.GetCultureInfo("pt-BR")).Substring(0,10)</h4>
                            <button type="button" class="close" data-dismiss="modal" id="user-fechar-modal-@evento.Id">&times;</button>
                        </div>
                        
                        <div class="container">
                            <div class="modal-body" style="text-align: start;">
                                <p>Quantidade</p>
                                <div class="form-inline" style="justify-content: space-between;">
                                    <input type="number" class="form-control mr-3" id="user-quantidade-@evento.Id" value="1">
                                    <button class="btn btn-dark" id="user-quantidade-confirmar-@evento.Id">Confirmar</button>
                                </div>
                                <p class="mt-3 mb-0">Ingressos disponíveis: <span>@evento.QuantidadeIngressos</span></p>
                                
                            </div>


                            <div class="modal-footer" id="user-footer-@evento.Id" style="justify-content: space-between;">
                                <div>
                                    <h4>Total: R$<span id="user-total-venda-@evento.Id">0.00</span></h4>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-success" data-dismiss="modal" id="user-finalizar-venda-@evento.Id">Comprar</button>
                                    <button type="button" class="btn btn-danger" id="user-cancelar-venda-@evento.Id">Voltar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    var enderecoGerarVenda = "https://localhost:5001/Vendas/Gerar";
                    var enderecoEvento = "https://localhost:5001/Eventos/Evento/";
                    var evento;
                    var vendaQuantidade;
                    var vendaValorTotal;

                    $("#user-footer-@evento.Id").hide();

                    $("#user-quantidade-confirmar-@evento.Id").click(function(){
                        vendaQuantidade = $("#user-quantidade-@evento.Id").val();
                        if (isNaN(vendaQuantidade) || vendaQuantidade <= 0)
                        {
                            alert("Insira um valor válido");
                            return;
                        }
                        if (vendaQuantidade > @evento.QuantidadeIngressos)
                        {
                            alert("Número de ingressos indisponíveis!");
                            return;
                        }

                        var enderecoConsulta = enderecoEvento + @evento.Id;
                        $.post(enderecoConsulta, function(dados){
                            evento = dados;

                            $("#user-footer-@evento.Id").show();
                            $("#user-quantidade-confirmar-@evento.Id").prop("disabled", true);
                            $("#user-quantidade-@evento.Id").prop("disabled", true);

                            vendaQuantidade = $("#user-quantidade-@evento.Id").val();
                            vendaValorTotal = vendaQuantidade * evento.valorIngresso;

                            $("#user-total-venda-@evento.Id").html(vendaValorTotal.toFixed(2));
                        }).fail(function(){
                            alert("Ocorreu um erro, tente novamente!");
                            return;
                        })
                    })

                    $("#user-finalizar-venda-@evento.Id").click(function (){
                        if (vendaValorTotal <= 0)
                        {
                            alert("Compra inválida!");
                            return;
                        }

                        var venda = {
                            eventoId: @evento.Id,
                            quantidade: vendaQuantidade
                        }

                        $.ajax({
                            type: "POST",
                            url: enderecoGerarVenda,
                            dataType: "json",
                            contentType: "application/json",
                            data: JSON.stringify(venda),
                            success: function(data){
                                $("#user-footer-@evento.Id").hide();
                                $("#user-quantidade-confirmar-@evento.Id").prop("disabled", false);
                                $("#user-quantidade-@evento.Id").prop("disabled", false);
                                $("#user-quantidade-@evento.Id").val(1);
                        
                                vendaQuantidade = $("#user-quantidade-@evento.Id").val();

                                alert("Compra realizada com sucesso!")
                                console.log(data);
                                location.reload();
                                },
                            error: function(){
                                alert("Algo deu errado!")
                            }   
                        });
                    })

                    $("#user-cancelar-venda-@evento.Id").click(function (){
                        $("#user-footer-@evento.Id").hide();
                        $("#user-quantidade-confirmar-@evento.Id").prop("disabled", false);
                        $("#user-quantidade-@evento.Id").prop("disabled", false);
                    })

                    $("#user-fechar-modal-@evento.Id").click(function (){
                        $("#user-footer-@evento.Id").hide();
                        $("#user-quantidade-confirmar-@evento.Id").prop("disabled", false);
                        $("#user-quantidade-@evento.Id").prop("disabled", false);
                        $("#user-quantidade-@evento.Id").val(1);
                
                        vendaQuantidade = $("#user-quantidade-@evento.Id").val();
                    })
                </script> 
            </div>
        }
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            Sem eventos por enquanto, aguarde novidades.
        </div>
    }
</div>



